<div class="campaign-page">
    <md-card>
        <md-card-title class="border-bottom">
            <md-card-title-text>
                <span class="md-headline">Campaign</span>
            </md-card-title-text>
        </md-card-title>
        <md-content layout-padding>
            <form name="segmentForm" class="segmentForm">
                <div class="segment-customer-type">
                    <span>Customer From:</span>
                    <md-input-container class="customer-from">
                        <label>State</label>
                        <md-select ng-model="ctrl.userState">
                            <md-option value="1">One</md-option>
                            <md-option value="2">Two</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <!-- First Segment -->
                <div layout="row" layout-xs="column" class="segment">
                    <md-input-container flex flex-xs="100">
                        <label>Event Type</label>
                        <md-select ng-model="ctrl.userState">
                            <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex flex-xs="100">
                        <label>Event Time</label>
                        <md-select ng-model="ctrl.userState">
                            <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex flex-xs="100">
                        <label>City</label>
                        <input>
                    </md-input-container>
                    <md-datepicker flex flex-xs="100" ng-model="myDate1" md-placeholder="Enter date"></md-datepicker>
                </div>

                <!-- Second Segment -->
                <div layout="row" layout-xs="column" class="segment">
                    <md-button class="md-fab md-mini close" aria-label="Eat cake">
                        <md-icon md-font-set="material-icons"> close</md-icon>
                    </md-button>
                    <div layout layout-xs="row" class="and-filter">
                        <div flex="50" flex-xs="50"><span class="and-or-button">OR</span></div>
                        <div flex="50" flex-xs="50"><span class="filter-button">Filter</span></div>
                    </div>
                    <md-input-container flex flex-xs="100">
                        <label>Event Type</label>
                        <md-select ng-model="ctrl.userState">
                            <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex flex-xs="100">
                        <label>Event Time</label>
                        <md-select ng-model="ctrl.userState">
                            <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex flex-xs="100">
                        <label>City</label>
                        <input>
                    </md-input-container>
                    <md-datepicker flex flex-xs="100" ng-model="myDate2" md-placeholder="Enter date"></md-datepicker>
                </div>

                <!-- Third Segment -->
                <div layout="row" layout-xs="column" class="segment">
                    <md-button class="md-fab md-mini close" aria-label="Eat cake">
                        <md-icon md-font-set="material-icons"> close</md-icon>
                    </md-button>
                    <div layout layout-xs="row" class="and-filter">
                        <div flex="50" flex-xs="50"><span class="and-or-button">AND</span></div>
                        <div flex="50" flex-xs="50"><span class="filter-button">Filter</span></div>
                    </div>
                    <md-input-container flex flex-xs="100">
                        <label>Event Type</label>
                        <md-select ng-model="ctrl.userState">
                            <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex flex-xs="100">
                        <label>Event Time</label>
                        <md-select ng-model="ctrl.userState">
                            <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">
                                {{state.abbrev}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex flex-xs="100">
                        <label>City</label>
                        <input>
                    </md-input-container>
                    <md-datepicker flex flex-xs="100" ng-model="myDate2" md-placeholder="Enter date"></md-datepicker>
                </div>

                <div layout="column" layout-xs="column" layout-align="center end">
                    <md-button class="md-raised md-primary">Add More</md-button>
                </div>

            </form>
        </md-content>

    </md-card>

    <!-- Table section-->
    <md-card>
        <md-card-title class="border-bottom">
            <md-card-title-text>
                <span class="md-headline">Table</span>
            </md-card-title-text>
        </md-card-title>
        <!-- exact table from live demo -->
    </md-card>
</div>