<div class="segment-page" ng-controller="SegmentationController">
    <md-card>
        <md-card-title class="border-bottom">
            <md-card-title-text>
                <span class="md-headline">Segmentation</span>
            </md-card-title-text>
        </md-card-title>
        <md-content layout-padding>
            <form name="segmentForm" class="segmentForm">
                <div class="segment-customer-type">
                    <span>Segment Relationships:</span>
                    <md-input-container class="customer-from">
                        <!--<label>State</label>-->
                        <md-select ng-model="selectedSegmentRelationship">
                            <md-option ng-repeat="rel in segmentRelationships">{{rel}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <!-- First Segment -->
                <div ng-repeat="segment in segments" layout="row" layout-xs="column" class="segment" layout-padding
                     layout-wrap>
                    <div ng-show="$index > 0">
                        <md-button class="md-fab md-mini close" aria-label="Close"
                                   ng-click="segments.splice($index, 1)">
                            <md-icon md-font-set="material-icons"> close</md-icon>
                        </md-button>
                        <div layout layout-xs="row" class="and-filter">
                            <div flex="50" flex-xs="50"><span
                                    class="and-or-button">{{selectedSegmentRelationship}}</span></div>
                            <div flex="50" flex-xs="50"><span class="filter-button">Filter&nbsp;{{$index+1}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- First attribute -->
                    <md-card ng-repeat="attribute in segment.attributes" flex="100">
                        <div layout="row" class="md-block md-padding" flex="100">
                            <md-input-container class="md-block">
                                <!--<label>Select Attribute Type</label>-->
                                <md-select ng-model="attribute.type">
                                    <md-option disabled selected>Select Attribute Type</md-option>
                                    <md-option ng-repeat="type in attributeTypes" value="{{type}}">
                                        {{type}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row" class="attribute-section" flex="100" layout-xs="column">
                            <md-input-container class="md-block" flex="15" flex-xs="100">
                                <label>Property</label>
                                <md-select ng-model="attribute.property.name">
                                    <md-option ng-repeat="property in attributes(attribute.type)" value="{{property.property.name}}">
                                        {{property.property.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="15" flex-xs="100">
                                <label>Sub-property</label>
                                <md-select ng-model="user.state">
                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                        {{state.abbrev}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="15" flex-xs="100">
                                <label>Input</label>
                                <input ng-model="segment.value">
                            </md-input-container>
                            <md-datepicker ng-model="segment.dateFrom" md-placeholder="Enter date"></md-datepicker>

                            <md-button class="md-accent" flex-xs="50" ng-click="segment.attributes.splice($index, 1)"
                                       ng-show="$index > 0">Delete
                            </md-button>
                            <md-button class="md-primary raised" flex-xs="50" ng-click="segment.attributes.push({})">Add
                                Attribute
                            </md-button>
                        </div>
                    </md-card>
                    <!--&lt;!&ndash; Second attribute &ndash;&gt;
                    <md-card flex="100">
                        <div layout="row" class="md-block md-padding" flex="100">
                            <md-input-container class="md-block">
                                <label>Select Property</label>
                                <md-select ng-model="user.state">
                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                        {{state.abbrev}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row" class="attribute-section" flex="100">
                            <md-input-container class="md-block" flex="15" flex-gt-sm>
                                <label>Dropdown</label>
                                <md-select ng-model="user.state">
                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                        {{state.abbrev}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="15" flex-gt-sm>
                                <label>Dropdown</label>
                                <md-select ng-model="user.state">
                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                        {{state.abbrev}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="15" flex-gt-sm>
                                <label>Input</label>
                                <input ng-model="user.city">
                            </md-input-container>
                            <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
                            <md-button class="md-accent">Delete</md-button>
                            <md-button class="md-primary">Add Attribute</md-button>
                        </div>
                    </md-card>-->
                </div>

                <!-- Second Segment -->
                <!--<div layout="row" layout-xs="column" class="segment" layout-padding layout-wrap>
                    <div>
                        <md-button class="md-fab md-mini close" aria-label="Eat cake">
                            <md-icon md-font-set="material-icons"> close</md-icon>
                        </md-button>
                        <div layout layout-xs="row" class="and-filter">
                            <div flex="50" flex-xs="50"><span class="and-or-button">OR</span></div>
                            <div flex="50" flex-xs="50"><span class="filter-button">Filter</span></div>
                        </div>
                    </div>

                    <md-card flex="100">
                        <div layout="row" class="md-block md-padding" flex="100">
                            <md-input-container class="md-block">
                                <label>Select Property</label>
                                <md-select ng-model="user.state">
                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                        {{state.abbrev}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row" class="attribute-section" flex="100">
                            <md-input-container class="md-block" flex="15" flex-gt-sm>
                                <label>Dropdown</label>
                                <md-select ng-model="user.state">
                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                        {{state.abbrev}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="15" flex-gt-sm>
                                <label>Dropdown</label>
                                <md-select ng-model="user.state">
                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                        {{state.abbrev}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="15" flex-gt-sm>
                                <label>Input</label>
                                <input ng-model="user.city">
                            </md-input-container>
                            <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
                            <md-button class="md-accent">Delete</md-button>
                            <md-button class="md-primary">Add Attribute</md-button>
                        </div>
                    </md-card>
                </div>

                &lt;!&ndash; Third Segment &ndash;&gt;
                <div layout="row" layout-xs="column" class="segment" layout-padding layout-wrap>
                    <div>
                        <md-button class="md-fab md-mini close" aria-label="Eat cake">
                            <md-icon md-font-set="material-icons"> close</md-icon>
                        </md-button>
                        <div layout layout-xs="row" class="and-filter">
                            <div><span class="and-or-button">AND</span></div>
                            <div><span class="filter-button">Filter</span></div>
                        </div>
                    </div>

                    <md-card flex="100">
                        <div layout="row" class="md-block md-padding" flex="100">
                            <md-input-container class="md-block">
                                <label>Select Property</label>
                                <md-select ng-model="user.state">
                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                        {{state.abbrev}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout="row" class="attribute-section" flex="100">
                            <md-input-container class="md-block" flex="15" flex-gt-sm>
                                <label>Dropdown</label>
                                <md-select ng-model="user.state">
                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                        {{state.abbrev}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="15" flex-gt-sm>
                                <label>Dropdown</label>
                                <md-select ng-model="user.state">
                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                        {{state.abbrev}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="15" flex-gt-sm>
                                <label>Input</label>
                                <input ng-model="user.city">
                            </md-input-container>
                            <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
                            <md-button class="md-accent">Delete</md-button>
                            <md-button class="md-primary">Add Attribute</md-button>
                        </div>
                    </md-card>
                </div>-->

                <div layout="column" layout-xs="column" layout-align="center end">
                    <md-button class="md-raised md-primary" ng-click="segments.push({attributes:[{}]})">Add More
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="saveSegmentation()">Create Segmentation
                    </md-button>
                </div>

            </form>
        </md-content>

    </md-card>

    <!-- Table section-->
    <md-card>
        <md-card-title class="border-bottom">
            <md-card-title-text>
                <span class="md-headline">Table</span>
            </md-card-title-text>
        </md-card-title>
        <!-- exact table from live demo -->
    </md-card>
</div>
