<md-content ng-cloak layout="row" layout-align="center center">
    <div flex-gt-md="33" flex-gt-xs="45" flex-gt-sm="45">
        <form name="loginForm" ng-controller="LoginController" ng-submit="loginForm.$valid && login()" novalidate>
            <md-card>
                <img src="/dist/img/loginBg.png" class="md-card-image" alt="Login" style="height: 250px">
                <md-card-content>
                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Email ID</label>
                        <md-icon md-font-set="material-icons"> email</md-icon>
                        <input ng-model="email" type="email">
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <md-icon md-font-set="material-icons"> lock</md-icon>
                        <label>Password</label>
                        <input ng-model="password" type="password">

                        <div class="forgot-password"><a href="#"> Forgot Password?</a></div>
                    </md-input-container>

                    <md-card-actions layout="row" layout-align="end center">
                        <md-button md-no-ink class="md-primary">Sign Up</md-button>
                        <md-button type="submit" class="md-raised md-primary">
                            Login
                        </md-button>
                    </md-card-actions>
                </md-card-content>
            </md-card>
        </form>
    </div>
</md-content>
