/** login css **/
.log-in{ background-color: #333;}
.forgot-password{ font-size: 12px; padding: 40px 0 0;}
.login-bg{
    background: url("/dist/img/bg.png") repeat 0 0 !important;
  }
.login-bg{ min-height: 100%}
.login-bg md-content{ background-color: inherit !important; }

/** dashboard css **/
.header-color{ background-color: #1565C0;}
.sideBarNav{ width: 250px; background-color: #2d323e}
.sideBarNav .sidebar-left-logo{ margin-right: 10px;}
.side-menu{background: none;}
.side-menu ul{ padding: 0; margin: 10px 0; }
.side-menu ul li a {
    color: #fff !important;
    cursor: pointer;
    display: block;
    line-height: 40px;
    max-height: 40px;
    padding: 0px 16px;
    margin: 0;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    font-size: 14px;
    font-weight: 200;
    white-space: normal;
    cursor: pointer;
    border-radius: 0;
}
.side-menu ul li a md-icon{ color: #ffffff; margin-right: 5px;}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

md-sidenav .md-toolbar-tools{ background-color: #373c47 !important; }

.page-heading{ padding:15px; margin: 0; border-bottom: solid 1px #ededed;}
.segmentForm md-input-container{ margin-right: 15px; margin-bottom: 0}
.segmentForm md-datepicker{ height: 37px; margin-top: 15px; background-color: transparent}
.segment-page md-card-title{ padding-top: 10px;}
.border-bottom{ border-bottom: solid 1px #ededed;}
.customer-from{ margin: 0;}
.segment-customer-type span{ margin-right: 10px;}
.segment{ border: solid 1px #ededed; border-left: solid 3px #2d323e; margin-top: 15px; margin-bottom: 30px; background-color: #F5F5F5; position: relative; min-height: 75px; }
.close{ position: absolute; right: -20px; top: -20px;}
.and-or-button{ padding: 5px 10px; border: solid 1px #0066bb; border-radius: 3px; margin-right: 10px}
.filter-button{ padding: 5px 10px; border: solid 1px #0066bb; border-radius: 3px; background-color: #0066bb; color: #ffffff;}
.and-filter{ margin-top: 25px; margin-right: 20px}

.attribute-section{ padding-left: 30px; background-color: #ffffff;}
.attributes{ background-color: #ffffff;}