<!DOCTYPE html>
<html ng-app="IgniteAnalytics">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/dist/css/style.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div ng-controller="IndexController" layout="column" style="height:100%;" ng-cloak>
    <md-content class="md-whiteframe-1dp">
        <md-toolbar>
            <div class="md-toolbar-tools header-color">
                <md-button class="md-icon-button"
                           ng-show="User()"
                           ng-click="toggleLeft()"
                           aria-label="Settings">
                    <md-icon md-font-set="material-icons"> menu</md-icon>
                </md-button>
                <h2>
                    <span>Analysis</span>
                </h2>
                <span flex></span>

                <div ng-hide="User()">
                    <md-button href="#/login">Login</md-button>
                    <md-button href="#/signup">Signup</md-button>
                </div>
                <div ng-show="User()">
                    Hi, {{User().firstName}}
                    <md-button class="md-icon-button" aria-label="Logout" ng-click="logout()">
                        <md-icon class="material-icons">power_settings_new</md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
    </md-content>


    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 sideBarNav" md-component-id="left">
            <md-toolbar class="sidebar-left-toolbar ng-scope md-cyan-theme" md-theme="cyan">
                <div class="md-toolbar-tools layout-align-start-center layout-row md-whiteframe-1dp" layout="row"
                     layout-align="start center">
                    <div class="sidebar-left-logo">
                        <img ng-src="/dist/img/logo.png" alt="triangular" width="40px" src="/dist/img/logo.png">
                    </div>
                    <h2 flex class="sidebar-left-title ng-binding flex">Analysis</h2>
                </div>
            </md-toolbar>
            <md-content class="side-menu">
                <ul>
                    <li><a href="#/dashboard" class="md-button" ng-click="closeSideNav()">
                        <md-icon md-font-set="material-icons" class="material-icons md-18"> dashboard</md-icon>
                        Dashboard</a></li>
                    <li><a href="#/segmentation" class="md-button" ng-click="closeSideNav()">
                        <md-icon md-font-set="material-icons" class="material-icons md-18"> group</md-icon>
                        Segmentation</a></li>
                    <li><a href="#/campaign" class="md-button" ng-click="closeSideNav()">
                        <md-icon md-font-set="material-icons" class="material-icons md-18"> trending_up</md-icon>
                        Campaign</a></li>
                </ul>
            </md-content>
        </md-sidenav>

        <md-content ng-view flex>

        </md-content>

    </section>

</div>


</body>
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/node_modules/angular-route/angular-route.min.js"></script>
<script src="/node_modules/angular-cookies/angular-cookies.min.js"></script>
<script src="/node_modules/angular-aria/angular-aria.min.js"></script>
<script src="/node_modules/angular-animate/angular-animate.min.js"></script>
<script src="/node_modules/angular-material/angular-material.min.js"></script>
<script src="/dist/app.js"></script>
<script src="/dist/js/script.min.js"></script>
</html>